@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
	margin: 0;
	font-family: Roboto;
	font-size: 16px;
	background-color: #eee;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}